.container {
  position: relative;
  padding: 8px 16px;
}

.button {
  display: flex;
  padding: var(--button_medium);
  border: none;
  border-radius: 8px;
  transition: all 0.1s ease-in;
  font-family: VelaSans-Medium;
  font-size: 16px;
  line-height: 100%;
}

.button_not_acive {
  background-color: #fff;
}

.button_not_acive:hover {
  background-color: #f4f7fa;
}

.button_active {
  background-color: #000;
  color: #fff;
}

.arrow {
  align-self: center;
  width: 10px;
  height: 6px;
  margin-left: 6px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg' %3e%3cpath fillRule='evenodd' clipRule='evenodd' d='M0.528758 0.528575C0.268409 0.788925 0.268409 1.21103 0.528758 1.47138L4.52876 5.47138C4.78911 5.73173 5.21122 5.73173 5.47157 5.47138L9.47157 1.47138C9.73192 1.21104 9.73192 0.788925 9.47157 0.528576C9.21122 0.268226 8.78911 0.268226 8.52876 0.528576L5.00016 4.05717L1.47157 0.528575C1.21122 0.268226 0.789108 0.268226 0.528758 0.528575Z' fill='black' /%3e%3c/svg%3e");
  transition: all 0.3s ease;
}

.arrow_acive {
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg' %3e%3cpath fillRule='evenodd' clipRule='evenodd' d='M0.528758 0.528575C0.268409 0.788925 0.268409 1.21103 0.528758 1.47138L4.52876 5.47138C4.78911 5.73173 5.21122 5.73173 5.47157 5.47138L9.47157 1.47138C9.73192 1.21104 9.73192 0.788925 9.47157 0.528576C9.21122 0.268226 8.78911 0.268226 8.52876 0.528576L5.00016 4.05717L1.47157 0.528575C1.21122 0.268226 0.789108 0.268226 0.528758 0.528575Z' fill='white' /%3e%3c/svg%3e");
}

.menu {
  display: none;
  position: absolute;
  z-index: 1000;
  height: 210px;
  overflow-y: auto;
  background: #ffffff;
  border: 12px solid #fff;
  border-right: 3px solid #fff;
  margin-top: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}

.menu::-webkit-scrollbar {
  width: 7px;
  background-color: #fff;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 2px;
}

.menu_active {
  display: block;
}

@media (max-width: 912px) {
  .container {
    padding: 0;
  }

  .button {
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    border-radius: 0;
    transition: all 0.1s ease-in;
  }

  .menu {
    display: none;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }

  .menu_active {
    display: block;
  }
}
