@import "../../styles/mixins.scss";

.genres__image_container {
  @include image_container;
}

.genres__item:hover {
  transform: translateY(-5px);
}

.title__container {
  padding: var(--title_padding);
  max-width: 100%;
}

.title {
  @include title;
}

.genres__title {
  text-align: center;
  font-family: VelaSans-SemiBold;
  font-size: 1em;
  line-height: 116%;
  margin-bottom: 1em;
}

.genres__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 3px;
  grid-row-gap: 16px;
}

.genres__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: VelaSans-Medium;
  font-size: 0.5em;
  border-radius: 20px;
  transition: all 0.2s ease;
  height: 160px;
}

@media (max-width: 700px) {
  .genres__item {
    font-size: 0.7em;
  }
}
