.container {
  width: 100%;
  margin: 0 auto;
  font-size: clamp(1.5rem, 5vw, 3rem);
  /*               24px       48px */
}

.slider {
  margin-bottom: 1.5em;
}

.slide {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}

@media (max-width: 414px) {
  .slide {
    aspect-ratio: 1;
  }
}

.image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.title__container {
  padding: 0.667em;
  max-width: 100%;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: VelaSans-SemiBold;
  font-size: 1em;
  line-height: 116%;
  padding: 0.667em;
  background-color: #000;
  border-radius: 20px;
  max-width: 100%;
  color: #fff;
}

.genres__title {
  text-align: center;
  font-family: VelaSans-SemiBold;
  font-size: 1em;
  line-height: 116%;
  margin-bottom: 1em;
}

.genres__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 3px;
  grid-row-gap: 16px;
}

.genres__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: VelaSans-Medium;
  font-size: 0.5em;
  border-radius: 20px;
  transition: all 0.2s ease;
  height: 160px;
}

@media (max-width: 700px) {
  .genres__item {
    font-size: 0.7em;
  }
}

.genres__item:hover {
  transform: translateY(-5px);
}

.genres__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
