.container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

@media (max-width: 912px) {
  .container {
    order: 1;
    align-self: stretch;
    justify-content: space-evenly;
  }
}

.button_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}

.pic_user {
  width: 35px;
  height: 35px;
}

.pic_logout {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
