.container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}

@media (max-width: 912px) {
  .container {
    order: 1;
    align-self: stretch;
    justify-content: space-evenly;
    margin-left: 0;
  }
}

.button_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}

.pic_user {
  width: 35px;
  height: 35px;
}

.pic_logout {
  width: 30px;
  height: 100%;
}

.list {
  display: none;
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.list:hover {
  display: block;
}

.logout_container {
  display: flex;
}
