.container {
  display: grid;
  grid-template-columns: 1fr 50%;
  gap: 1em;
  height: 100%;
  font-size: clamp(2rem, 5vw, 2.5rem);
}

@media (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }
}

.game__container {
  height: 100%;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__title {
  height: 2em;
  margin-bottom: 2em;
}
