.react-calendar {
  width: 250px;
  max-width: 100%;
  background-color: #fff;
  padding: 12px;
  color: #222;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  font-family: VelaSans-Medium;
  font-size: 16px;
  line-height: 100%;
}

.react-calendar__navigation {
  text-align: center;
}

.react-calendar__navigation button {
  color: #000;
  min-width: 24px;
  background: none;
  font-size: 16px;
  font-family: inherit;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
  font-family: inherit;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #91969b;
}

.react-calendar__tile {
  font-family: inherit;
}

.react-calendar__tile:hover {
  background: #f4f7fa;
  border-radius: 6px;
}

.react-calendar__tile--now,
.react-calendar__tile--now:hover {
  background: #e0e2e6;
  border-radius: 6px;
  font-weight: bold;
  color: #000;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--range,
.react-calendar__tile--active {
  background: #000;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
}
.react-calendar__tile--range:enabled:hover,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #000;
  color: #fff;
}

.react-calendar__tile--range,
.react-calendar__tile--range:hover,
.react-calendar__tile--rangeBothEnds {
  border-radius: 0;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeStart:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.react-calendar__tile--rangeEnd,
.react-calendar__tile--rangeEnd:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.react-calendar__tile--rangeBothEnds:hover,
.react-calendar__tile--hoverBothEnds:hover {
  border-radius: 6px;
}
