@import url("./fonts.css");

html {
  height: -webkit-fill-available;
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 2px;
}

a,
button {
  user-select: none;
}

:root {
  --padding_big: 32px;
  --button_big: 16px 24px;
  --button_medium: 8px 12px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: -webkit-fill-available;
  max-width: 1244px;
  margin: 0 auto;
}

@media (max-width: 1272px) {
  #root {
    position: relative;
    width: 100vw;
    padding: 0 20px;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* slick-slider */

.slick-list {
  border-radius: 20px;
}

.slick-arrow {
  height: 100%;
  width: 5%;
  z-index: 1000;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.slick-prev {
  left: 0;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(to left, transparent, #000);
}

.slick-prev:hover,
.slick-prev:focus {
  background: linear-gradient(to left, transparent, #000);
  opacity: 1;
}

.slick-next {
  right: 0;
  border-radius: 0 20px 20px 0;
  background: linear-gradient(to right, transparent, #000);
}
.slick-next:hover,
.slick-next:focus {
  background: linear-gradient(to right, transparent, #000);
  opacity: 1;
}

.slick-prev::before,
.slick-next::before {
  color: #000;
}

@media (max-width: 359px) {
  .slick-dots li {
    margin: 0 3px;
  }
}
