@import url("./fonts.css");

:root {
  --padding_big: 32px;
  --button_big: 16px 24px;
  --button_medium: 8px 12px;
}

#root {
  position: relative;
  max-width: 1244px;
  margin: 0 auto;
  padding: 35px 0 80px;
  overflow: hidden;
}

@media (max-width: 1272px) {
  #root {
    width: 100vw;
    padding: 25px 20px 60px;
  }
}
