.items__contaier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 12px;
  border-radius: 12px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  /*               16px        24px */
}

.items__contaier:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.1s ease;
}

.items__contaier:not(:last-of-type) {
  margin-bottom: 20px;
}

.title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
  gap: 10px;
}

.image {
  flex: 1 0 auto;
  object-fit: cover;
  height: 50px;
  width: 100px;
  border-radius: 12px;
}

.title {
  flex: 1 1 auto;
  font-family: VelaSans-SemiBold;
  font-size: 1em;
  line-height: 100%;
  color: #000;
}

.bottons__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  padding: 0.334em 0.5em;
  margin-right: 0.5em;
  background-color: #d63d00;
  border-radius: 12px;
  font-family: VelaSans-SemiBold;
  font-size: 1.5em;
  line-height: 100%;
  color: #fff;
}

.price:hover {
  background-color: #eb4200;
  transition: background-color 0.3s ease;
}

.remove__button {
  background-color: #f4f7fa;
  padding: 5px;
  border-radius: 50%;
}

.remove__button:hover {
  background-color: #e7ecf1;
  transition: background-color 0.1s ease;
}

@media (max-width: 600px) {
  .title__container {
    margin-right: 1em;
  }
  .title__container {
    align-items: flex-start;
    flex-direction: column;
  }
}
