.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 16px;
  margin-bottom: 17px;
  font-family: VelaSans-Medium;
  font-size: 16px;
  line-height: 125%;
}

.logo {
  display: flex;
  align-items: center;
  user-select: none;
}

.logo_img {
  height: 45px;
}

.logo_title {
  height: 30px;
}

@media (max-width: 912px) {
  .burger__container {
    position: relative;
    z-index: 1000;
    justify-self: end;
  }
}
