.container {
  position: relative;
}

.seacrh_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border-radius: 8px;
  padding: var(--button_medium);
  background: #f4f7fa;
}

.search_input:focus .seacrh_container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search_input {
  border: none;
  background: #f4f7fa;
  font-family: inherit;
}

.button {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 7.5C0 11.6421 3.35786 15 7.5 15C9.23164 15 10.8262 14.4131 12.0957 13.4275C12.1435 13.5286 12.2092 13.6234 12.2929 13.7071L18.2929 19.7071C18.6834 20.0976 19.3166 20.0976 19.7071 19.7071C20.0976 19.3166 20.0976 18.6834 19.7071 18.2929L13.7071 12.2929C13.6234 12.2092 13.5286 12.1435 13.4275 12.0957C14.4131 10.8262 15 9.23164 15 7.5C15 3.35786 11.6421 0 7.5 0C3.35786 0 0 3.35786 0 7.5ZM2 7.5C2 4.46243 4.46243 2 7.5 2C10.5376 2 13 4.46243 13 7.5C13 10.5376 10.5376 13 7.5 13C4.46243 13 2 10.5376 2 7.5Z' fill='%2391969B'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.1s ease;
}

.button_remove {
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fillRule='evenodd' clipRule='evenodd' d='M7.745 1.24028C7.99902 0.986258 7.99902 0.574402 7.745 0.320377C7.49097 0.066352 7.07912 0.066352 6.82509 0.320377L4.06538 3.08009L1.24028 0.255001C0.986258 0.000975884 0.574402 0.000975463 0.320377 0.255001C0.0663521 0.509026 0.0663527 0.920881 0.320377 1.17491L3.14547 4L0.320377 6.82509C0.0663514 7.07912 0.0663514 7.49097 0.320376 7.745C0.574401 7.99902 0.986258 7.99902 1.24028 7.745L4.06537 4.9199L6.82509 7.67962C7.07912 7.93365 7.49097 7.93365 7.745 7.67962C7.99902 7.4256 7.99902 7.01374 7.745 6.75972L4.98528 4L7.745 1.24028Z' fill='%2391969B'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.1s ease;
}

.button_remove:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fillRule='evenodd' clipRule='evenodd' d='M7.745 1.24028C7.99902 0.986258 7.99902 0.574402 7.745 0.320377C7.49097 0.066352 7.07912 0.066352 6.82509 0.320377L4.06538 3.08009L1.24028 0.255001C0.986258 0.000975884 0.574402 0.000975463 0.320377 0.255001C0.0663521 0.509026 0.0663527 0.920881 0.320377 1.17491L3.14547 4L0.320377 6.82509C0.0663514 7.07912 0.0663514 7.49097 0.320376 7.745C0.574401 7.99902 0.986258 7.99902 1.24028 7.745L4.06537 4.9199L6.82509 7.67962C7.07912 7.93365 7.49097 7.93365 7.745 7.67962C7.99902 7.4256 7.99902 7.01374 7.745 6.75972L4.98528 4L7.745 1.24028Z' fill='black'/%3e%3c/svg%3e");
}

.button:hover {
  background-color: #e7ecf1;
}

.dropdown {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background: #ffffff;
  padding: 12px;
  margin-top: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.dropdown_acive {
  display: block;
}

.dropdown_deacive {
  display: none;
}

.dropdown__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  border-radius: 8px;
}

.dropdown__item:hover {
  background: #e7ecf1;
}

.image {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

@media (max-width: 1140px) {
  .seacrh_container {
    width: auto;
  }
}

@media (max-width: 912px) {
  .seacrh_container {
    margin: 20px 0;
  }
}

@media (max-width: 414px) {
  .seacrh_container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
