.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.spinner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px dotted #000;
  animation: spinning 5s ease infinite;
}

.text {
  font-family: VelaSans-Bold;
  font-size: 2rem;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
